* {
  color: #fff;
  font-family: Roboto;
}

h1 {
  font-weight: 700;
  font-size: 64px;
}


.circle {
  border-radius: 50%;
}

body {
  background: url('background.jpg');
  display: flex;
  height: 100vh;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}


aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 0 20px;
}

li {
  padding: 5px;
}

p {
  font-weight: 700;
  font-size: 18px;
}

a {
  color: red;
}
